<% provide(:title, 'Sign up') %>
<%= twitter_bootstrap_form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.text_field :name %>
	<%= f.email_field :email, :placeholder => 'me@example.com'%>
	<%= f.date_select :born_on, 'Born on', {:start_year => 1950}, :class => 'small' %>

    <%= f.password_field :password do %>
    <span class=help-block>
        <br/>Must be no larger than 6 characters
        <br/>Must contain only the letters 'x' or 'p'
    </span>
	<% end %>
	<%= f.password_field :password_confirmation, 'Confirm Password'%>
	<%= f.actions do%>
	    <%= f.submit 'Sign up'%>
	    <%= button_tag  'Reset	', :type => 'reset', :class => 'btn'%>
	<% end %>
<% end %>