<div id="footer" class="round">
	<nav class="round">
	  <ul>
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "Sign in", '#' %></li>
	      <li><%= link_to "About Us", about_path %></li>
	      <li><%= link_to "Contact Us", contact_path %></li>
	  </ul>
	</nav>
	Copyright © iSrvMgmt Powered by <a href="#">i Service Management</a>
</div>