<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <a class="brand" href="#">IService</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "Sign in", '#' %></li>
	      <li><%= link_to "About Us", about_path %></li>
	      <li><%= link_to "Contact Us", contact_path %></li>
       </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>