<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container" class="round">
		<%= render 'layouts/header' %>
		<%= render 'layouts/sidebar' %>
		
		<div id="content">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
